@using FitnessPlatform.Web.ViewModels.Trainer
@model TrainerDetailsVM

<div class="container mt-5">
    <div class="card mx-auto shadow-lg p-4" style="max-width: 400px;">
        <div class="text-center">
            <img src="@(string.IsNullOrEmpty(Model.Image) ? Url.Content("~/images/default-avatar.jpg") : Model.Image)"
                 class="rounded-circle mb-3"
                 style="width: 120px; height: 120px; object-fit: cover;" alt="User Image" />

            <h4>@Model.FullName</h4>
            <p class="text-muted"><strong>Specialty:</strong>@Model.Specialty</p>
            <p class="text-muted"><strong>Gym:</strong>@Model.Gym</p>
        </div>

        <hr />

        <div>
            <p><strong>Specialty Description:</strong> @Model.SpecialtyDescription</p>
            <p><strong>Phone:</strong> @Model.PhoneNumber</p>
            
            
        </div>

        @if (User.IsInRole("Admin") || User.IsInRole("Trainer"))
        {
            <div class="text-center mt-3">
                <a asp-action="AllTrainers" class="btn btn-outline-secondary">← Back to All Trainers</a>
            </div>
            <div class="text-center mt-3">
                <a asp-action="GetTrainerClients" asp-route-id="@Model.TrainerId" class="btn btn-outline-primary">Clients</a>
            </div>
            <div class="text-center mt-3">
                <a asp-action="GetTrainerEvents" asp-route-id="@Model.TrainerId" class="btn btn-outline-success">Events</a>
            </div>
        }
        else if (User.IsInRole("User"))
        {
            @if (!Model.IsUserSubscribe)
            {
                <div class="text-center mt-3">
                    <a asp-action="AllTrainers" class="btn btn-outline-secondary">← Back to All Trainers</a>
                </div>
                <div class="text-center mt-3">
                    <a asp-action="SubscribeToTrainer" asp-route-id="@Model.TrainerId" class="btn btn-outline-primary">Subscribe to Trainer</a>
                </div>
                <div class="text-center mt-3">
                    <a asp-action="GetTrainerEvents" asp-route-id="@Model.TrainerId" class="btn btn-outline-success">Events</a>
                </div>
            }
            else
            {
                <div class="text-center mt-3">
                    <a asp-action="AllTrainers" class="btn btn-outline-secondary">← Back to All Trainers</a>
                </div>
                <div class="text-center mt-3">
                    <a asp-action="UnsubscribeToTrainer" asp-route-id="@Model.TrainerId" class="btn btn-outline-primary">Unsubscribe to Trainer</a>
                </div>
                <div class="text-center mt-3">
                    <a asp-action="GetTrainerEvents" asp-route-id="@Model.TrainerId" class="btn btn-outline-success">Events</a>
                </div>
            }
        }

       
    </div>
</div>
